body {
  letter-spacing: 1px;
  /* gray container */
  /* dark Container */ }
  body h1 {
    font-size: 4.3rem; }
  body .header {
    background: #0cb3f8;
    height: 40rem; }
    body .header .logo {
      padding-left: 98px; }
    body .header nav {
      font-size: 12px; }
    body .header .iphone, body .header nav {
      padding-right: 98px; }
    body .header .topH {
      padding-left: 88px;
      letter-spacing: -4px; }
    body .header p {
      padding-top: 42px;
      font-size: 1.31rem;
      letter-spacing: 0.5px;
      word-spacing: 0.75px;
      font-weight: lighter;
      padding-left: 98px; }
    body .header .btnDl {
      width: 144px;
      height: 40px;
      font-size: 10px;
      font-weight: bold;
      background-color: white;
      letter-spacing: 1px;
      border-radius: 30px;
      margin-top: 100px;
      margin-left: 98px;
      border-style: none;
      text-align: right;
      padding-right: 26px;
      background-image: url("..//img/apple.png");
      background-repeat: no-repeat; }
    body .header .learnMore {
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1px;
      margin-top: 100px;
      margin-left: 40px;
      background: none;
      direction: none;
      border: none; }
  body .newBtn {
    background-color: #0081ff;
    font-size: 9px;
    margin-left: 6.87rem;
    width: 60px;
    height: 20px;
    border-style: none;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1.5px 9px 5px rgba(0, 129, 255, 0.18); }
  body .grayContainer {
    background-color: #f5f4f4;
    height: 875px; }
    body .grayContainer .newBig {
      font-size: 2.75em;
      font-variant: .5px; }
    body .grayContainer h4 {
      font-size: 1em;
      font-weight: lighter;
      padding-top: 34px;
      color: #747474;
      padding-bottom: 80px; }
    body .grayContainer .columnP {
      color: #747474;
      line-height: 1.2;
      font-weight: lighter; }
  body .darkContainer {
    background-color: #222222;
    height: 800px; }
    body .darkContainer .licenseH {
      font-size: 2.75em;
      font-variant: .5px; }
    body .darkContainer .licenseP {
      font-size: 1em;
      font-weight: lighter;
      padding-top: 34px;
      color: #747474;
      padding-bottom: 80px; }
    body .darkContainer .whiteFrame {
      background-color: white;
      width: 300px;
      height: 440px;
      border-radius: 10px; }
      body .darkContainer .whiteFrame.alt {
        background: #1b8bf9; }
    body .darkContainer .price {
      font-size: 3rem; }
    body .darkContainer .time {
      font-size: 0.75rem; }
    body .darkContainer .checked {
      font-size: 14px;
      font-weight: normal; }
    body .darkContainer .startBtn {
      font-size: 10px;
      font-weight: bold;
      border: solid 2px #1b8bf9;
      border-radius: 20px;
      background-color: white;
      width: 150px;
      height: 40px;
      word-spacing: 2px;
      letter-spacing: 1.5PX; }
    body .darkContainer .frames {
      margin-left: 68px;
      margin-right: 68px; }

@media only screen and (max-width: 600px) {
  body .logo {
    padding-left: 0.5rem !important;
    padding-top: 0.5rem !important; }
  body nav {
    padding-right: 0.5rem !important;
    padding-bottom: -3rem; }
  body .topH {
    padding-left: 0.35rem !important;
    font-size: 2.5rem;
    text-align: center;
    font-variant: 2px; }
  body .topP {
    font-size: 0.25em;
    padding-left: 0.35rem !important; }
  body .btnDl {
    margin-left: 0.5rem !important;
    justify-content: flex-start; }
  .natureBg {
    margin: 0;
    padding: 0; } }
