body {
  letter-spacing: 1px;
  /* gray container */
  /* dark Container */ }
  body h1 {
    font-size: 4.3rem; }
  body .header {
    background: #0cb3f8;
    height: 40rem;
    /*
.iphone, nav {
  padding-right: 98px;
}
*/ }
    body .header .nav {
      font-size: 12px;
      color: white; }
    body .header .topH {
      letter-spacing: -4px; }
    body .header p {
      padding-top: 42px;
      font-size: 1.31rem;
      letter-spacing: 0.5px;
      word-spacing: 0.75px;
      font-weight: lighter; }
    body .header .btnDl {
      width: 144px;
      height: 40px;
      font-size: 10px;
      font-weight: bold;
      background-color: white;
      letter-spacing: 1px;
      border-radius: 30px;
      margin-left: 98px;
      border-style: none;
      text-align: right;
      padding-right: 26px;
      background-image: url("..//img/apple.png");
      background-repeat: no-repeat; }
    body .header .learnMore {
      font-size: 10px;
      font-weight: bold;
      letter-spacing: 1px;
      margin-left: 40px;
      background: none;
      border: none; }
  body .newBtn {
    background-color: #0081ff;
    font-size: 9px;
    margin-left: 6.87rem;
    width: 60px;
    height: 20px;
    border-style: none;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 1.5px 9px 5px rgba(0, 129, 255, 0.18); }
  body .grayContainer {
    background-color: #f5f4f4;
    min-height: 900px; }
    body .grayContainer .newBig {
      font-size: 2.75em; }
    body .grayContainer .first {
      padding-right: 7rem !important; }
    body .grayContainer .third {
      padding-right: 7rem !important; }
    body .grayContainer h4 {
      font-size: 1em;
      font-weight: lighter;
      padding-top: 34px;
      color: #747474;
      padding-bottom: 80px; }
    body .grayContainer .columnP {
      color: #747474;
      line-height: 1.2;
      font-weight: lighter; }
  body .darkContainer {
    background-color: #222222;
    min-height: 800px; }
    body .darkContainer .licenseH {
      font-size: 2.75em; }
    body .darkContainer .licenseP {
      font-size: 1em;
      font-weight: lighter;
      padding-top: 34px;
      color: #747474;
      padding-bottom: 80px;
      padding-right: 6rem; }
    body .darkContainer .whiteFrame {
      background-color: white;
      width: 300px;
      height: 440px;
      border-radius: 10px; }
      body .darkContainer .whiteFrame.alt {
        background: #1b8bf9;
        color: white !important; }
    body .darkContainer .price {
      font-size: 3rem; }
    body .darkContainer .time {
      font-size: 0.75rem; }
    body .darkContainer .checked {
      font-size: 14px;
      font-weight: normal; }
    body .darkContainer .startBtn {
      font-size: 10px;
      font-weight: bold;
      border: solid 2px #1b8bf9;
      border-radius: 20px;
      background-color: white;
      width: 150px;
      height: 40px;
      word-spacing: 2px;
      letter-spacing: 1.5PX; }
    body .darkContainer .frames {
      margin-left: 60px;
      margin-right: 68px; }
    body .darkContainer .columnH, body .darkContainer .time {
      padding-right: 6rem; }
    body .darkContainer .tick, body .darkContainer .checked {
      padding-right: 3rem; }
  body .nature {
    background: url("../img/nature-bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    body .nature .p2 {
      padding-right: 6rem; }
    body .nature .subscribe {
      font-size: 2.75em;
      margin-top: 67px; }
    body .nature .subscribeP {
      font-size: 1em;
      font-weight: lighter;
      padding-top: 23px;
      color: #747474;
      padding-bottom: 55px; }
    body .nature .sendBtn {
      width: 145px;
      height: 47px;
      background: white;
      border: none;
      border-radius: 5px;
      font-size: 10px;
      letter-spacing: 1px; }
    body .nature #email {
      width: 20%;
      opacity: 20%;
      border-radius: 5px 0px 0px 5px;
      border: none; }
  body .lastPart {
    height: 233px;
    color: black;
    font-size: 11px; }
  body .logo_b {
    padding-left: 98px; }
  body .socialM {
    margin-right: 98px; }
  body p {
    font-weight: lighter;
    padding-left: 98px;
    padding-top: 1.5rem;
    color: gray;
    letter-spacing: 1.75px; }

@media only screen and (max-width: 780px) {
  body .container-fluid {
    display: block; }
  .header .nav {
    justify-content: center !important;
    margin-top: -20px !important; }
  .header .topH {
    font-size: 2.8rem;
    letter-spacing: normal; }
  .header .topP {
    font-size: 16px;
    padding-bottom: -20px !important; }
  .header .btnDl {
    margin-top: 20px !important; }
  .header .learnMore {
    padding-top: 20px !important; } }
